.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #bfd8df;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(17, 27, 37);
  text-align: center;
}

.App-link {
  color: #61dafb;
}
.title {
  color: black;
  text-align: center;
  font-size: 50px;
  padding: 20px;
}
.dropdownstyle {
text-align: center;
}
/*.index{
outline-style: groove;
color: black;
padding-top: 10px;
}*/

.loginform{
font-size: large;
}
.logininput{
text-align: center;
}
.Navbar{
  color: rgb(0, 0, 0);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.text{
  font-size: 30px;
  text-align: center;
}

.addreq{
  background-color: #d0e2e2;
}

.requirement{
  text-align: left;
  padding: 50px;
  background-color: #d0e2e2;
  align-self: left;
  margin-left: 50px;
  margin-bottom: 50px;
  border-radius: 50px;
  width: 50%;
}

.parallax {
  /* The image used */
  background-image: url("mams.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Credit w3 schools https://www.w3schools.com/howto/howto_css_parallax.asp */
}

